   <div id="loading"></div>
    <div id="fouc" class="shown">
      <section id="header-image">
				<div class="super-header">
					<div class="container super-container">
						<div class="super-header-keywords"><h4>Web Design &amp; Application Development</h4></div>
						<div class="super-header-city-phone"><h4> Phoenix, AZ &bull; <a href="tel:+14807884635">480-788-4635</a></h4></div>
					</div>
				</div>
        <header id="desktop-header">
          <div class="container header-container">
            <div id="logo-header">
              <a class="logo" href="/">
                <img src="http://static.coronite.net/img/logos/logo_ds.png" alt="Logo" width="300" height="75">
              </a>
            </div>
            <nav class="desktop-menu">

                <ul id="topnav">
                  <li style="border-top:none;">
                    <a href="http://coronite.net/blog" class="navtext">Blog</a>
                  </li>
                  <li>
                    <a href="http://coronite.net/portfolio.php" class="navtext dropbtn">Portfolio</a>
                  </li>
									<li>
		                <a href="http://coronite.net/pricing-calculator.php" class="navtext">Pricing</a>
		              </li>
                  <li class="dropdown">
                    <a href="http://coronite.net/training.php" class="navtext">Training</a>
                      <div class="dropdown-content">
                        <a href="http://coronite.net/training/web-development/web-development-lesson1.php">Web Development</a>
                        <a href="http://coronite.net/training.php">More Courses...</a>
                      </div>
                  </li>
                  <li>
                    <a href="mailto:john@coronite.net" class="navtext">Contact</a>
                  </li>
                  <li>
                </ul>

            </nav>
          </div>
        </header>

        <header id="mobile-header">
          <div class="container header-container-mobile">

            <div id="logo-header-mobile">
              <a class="logo-mobile" href="/">
                <img src="http://static.coronite.net/img/logos/logo_ds.png" alt="Logo" width="300" height="100">
              </a>
              <button type="button" id="navbtn" class="navigation-button" aria-expanded="true">
                <i class="custom-icon icon-menu"></i>
              </button>
            </div>
           </div>
        </header>

            <nav id="mobile-nav" class="mobile-menu is-closed">
              <div class="mobile-navlist-container">
                <ul id="topnav-mobile">
                  <li style="border-top:none;">
                    <a href="http://coronite.net/blog" class="navtext">Blog</a>
                  </li>
                  <li>
                    <a href="http://coronite.net/portfolio.php" class="navtext">Portfolio</a>
                  </li>
									<li>
		                <a href="http://coronite.net/pricing-calculator.php" class="navtext">Pricing</a>
		              </li>
                  <li class="dropdown">
                    <a href="http://coronite.net/training.php" class="navtext">Training</a>
										<div class="mobile-dropdown-content">
											<a href="http://coronite.net/training/web-development/web-development-lesson1.php">Web Development</a>
											<a href="http://coronite.net/training.php">More Courses...</a>
										</div>
                  </li>
                  <li style="border-bottom:none;">
                    <a href="mailto:john@coronite.net" class="navtext">Contact</a>
                  </li>
                </ul>
              </div>
             </nav>

          <div id="top-text-box" class="topimage-text-box animated visuallyhidden">
            <div class="topimage-text">
        	      <h1>Creating<br>Exceptional<br>Websites<br>& apps</h1>
            </div>
        	</div>
      </section>

      <div id="services-section">
        <div  class="services container">
          <div class="row">
            <div class="headline align-center">
              <h2>Services</h2>
              <p>Now more than ever, business success on the web requires multifaceted excellence.
              Sites on the modern internet need to be fast, accessible, attractive, and relevant to customers' needs. <br />We can help.</p>
            </div>
            <div class="col-md-3">
              <div id="services1" class="service-item align-center animated delay900">
                <i class="custom-icon icon-code"></i>
                <h3>Coding</h3>
                <p>Experience in a variety of coding platforms means we can choose the right tools for your specific job.  This expertise is your competitive advantage in making your site faster, higher-ranking, and more profitable.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div id="services2" class="service-item align-center animated delay600">
                <i class="custom-icon icon-laptop"></i>
                <h3>Design</h3>
                <p>Visual presentation on the web is an essential part of your business success.  We'll see to it that your brand, website, or application will look its best on every possible device.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div id="services3" class="service-item align-center animated delay300">
                <i class="custom-icon icon-tachometer"></i>
                <h3>Optimization</h3>
                <p>If you've already got an existing website, but are looking for ways to make it faster and more user-friendly, we can help.  We can optimize your site to keep you competitive on the ever-evolving internet.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div id="services4" class="service-item align-center animated">
                <i class="custom-icon icon-users"></i>
                <h3>Social Media Management</h3>
                <p>Social media sites are rapidly overtaking search engines as the best mesurements of your site's relevance.  To compete on the modern internet requires a complete social media strategy&mdash;and we can help you create one. </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="portfolio-section">
          <div class="portfolio container">
            <div class="row">
              <div class="headline align-center">
                <h2>Portfolio</h2>
                <div>
                  <p>Coronite Creative has worked on a wide range of web and mobile projects. From simple websites to web and mobile applications, we can make your digital vision a reality. </p>
                </div>
              </div>
            </div>
            <div class="row portfolio-row">
							<div class="col-md-4 no-padding">
								<div id="port1" class="portfolio-item animated">
									<div class="portfolio-pic" id="nl-port-img">
										<div id="hp-port1" class="portfolio-homepage-overlay"></div>
										<span class="portfolio-overlay"></span>
                  	<i class="custom-icon icon-align-left"></i>
									</div>
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div id="port4" class="portfolio-item animated">
									<div class="portfolio-pic" id="qmp-port-img">
										<div id="hp-port2" class="portfolio-homepage-overlay"></div>
										<span class="portfolio-overlay"></span>
                  	<i class="custom-icon icon-align-left"></i>
									</div>
								</div>
							</div>
							<div class="col-md-4 no-padding">
								<div id="port2" class="portfolio-item animated">
									<div class="portfolio-pic" id="jar-port-img">
										<div id="hp-port3" class="portfolio-homepage-overlay"></div>
										<span class="portfolio-overlay"></span>
                  	<i class="custom-icon icon-align-left"></i>
									</div>
								</div>
							</div>
            </div>
            <div class="row" id="portfolio-toggle">
            </div>
          </div>
      </div>

      <div id="technology-section">
        <div class="technology container">
          <div class="row">
            <div class="headline align-center">
              <h2>Technology</h2>
              <div>
                <p>We utilize the latest technology in web design and development to deliver the best user experience for your customers. We choose the right tools for the job to make your site fast, search-engine optimized, and profitable.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div id="tech-rails" class="tech-blurb animated delay300">
                <div class="tech-image left ruby"><div class="tech-image-overlay-ruby"></div></div>
                  <div class="tech-headline left">
                    <h3>Ruby On Rails</h3>
                    <p>Ruby On Rails is a development framework that allows for the creation of powerful web applications.</p>
                  </div>
              </div>
              <div id="tech-wordpress" class="tech-blurb animated delay600">
                <div class="tech-image left wordpress"><div class="tech-image-overlay-wordpress"></div></div>
                  <div class="tech-headline left">
                    <h3>Wordpress</h3>
                    <p>Wordpress is the most popular content management system (CMS) on the Web.  Though easy to use for beginners, this open-source framework also powers some of the internet's most popular websites. </p>
                  </div>
              </div>
              <div id="tech-angular" class="tech-blurb animated delay900">
                <div class="tech-image left angular"><div class="tech-image-overlay-angular"></div></div>
                  <div class="tech-headline left">
                    <h3>Angular JS</h3>
                    <p>Angular JS is a Javascript framework that allows for the creation of dynamic interactive content in web applications.</p>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="phoneimage" class="align-center animated delay1200">
                <img src="http://static.coronite.net/img/homepage/phone.jpg" alt="phone" height="723" width="384">
              </div>
            </div>
            <div class="col-md-4">
              <div id="tech-html5" class="tech-blurb animated delay300">
                <div class="tech-image right html5"><div class="tech-image-overlay-html5"></div></div>
                  <div class="tech-headline right">
                  <h3>HTML 5</h3>
                  <p>HTML 5 is the most up-to-date version of the core markup language that runs the World Wide Web.</p>
                </div>
              </div>
              <div id="tech-android" class="tech-blurb animated delay600">
                <div class="tech-image right css"><div class="tech-image-overlay-css"></div></div>
                  <div class="tech-headline right">
                  <h3>Android</h3>
                  <p>With over 1.4 Billion users and 1.5 Million new device activations per day, Android is the world's most popular mobile operating system.  Android mobile applications are now an essential part of any brand's business success.</p>
                </div>
              </div>
              <div id="tech-js" class="tech-blurb animated delay900">
                <div class="tech-image right js"><div class="tech-image-overlay-js"></div></div>
                  <div class="tech-headline right">
                  <h3>Javascript</h3>
                  <p>Javascript (and Javascript libraries like jQuery) bring action and interactivity to the webpages on the World Wide Web. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <footer class="footer">
      <div class="container">
        <div class="footer_inner">
          <div class="col-md-12 footer-row">
            <div class="footer-logo">
              <a href="#">
                <img src="http://static.coronite.net/img/logos/logo_footer.png" alt="Logo" width="450" height="150" >
              </a>
            </div>
            <div class="content">
              <div class="social_wrap clear">
                <ul>
                  <li>
                    <a href="https://facebook.com/CoroniteCreative" target="_blank"><i class="custom-icon icon-facebook"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/CoroniteCreativ" target="_blank"><i class="custom-icon icon-twitter"></i></a>
                  </li>
                  <li>
                    <a href="mailto:john@coronite.net"><i class="custom-icon icon-mail-dark"></i></a>
                  </li>
                </ul>
              </div>
              <nav>
                <div class="menu-home-container">
                  <ul id="footer_nav" class="footer_nav">
                    <li><a href="http://coronite.net/blog">Blog</a></li>
                    <li><a href="http://coronite.net/portfolio.php">Portfolio</a></li>
                    <li><a href="http://coronite.net/training.php">Training</a></li>
                    <li><a href="mailto:john@coronite.net">Contact</a></li>
                  </ul>
                </div>
              </nav>

            </div>
          </div>
          <div class="location col-md-12 footer-row">
            Web Design &amp; Application Development &bull; Phoenix, AZ USA &bull; 480-788-4635
          </div>
          <div class="copyright col-md-12 footer-row"><a href="#">&copy; Copyright {{copyrightYear}}</a></div>
        </div>

      </div>
    </footer>
    </div>

    <script type="text/javascript">
  	// The Script Onload Method Allows the Waypoints Dependency to load before
  	// the main.js JavaScript
  	var LOAD = {};
  	LOAD.bindings = {};
  	LOAD.bindings.mainjs = document.createElement("script");
  	LOAD.bindings.mainjs.src = "http://static.coronite.net/js/main.js";

  	LOAD.bindings.waypointsjs = document.createElement("script");
  	LOAD.bindings.waypointsjs.src = "http://static.coronite.net/js/waypoints.js";

  	function init() {
  		//Load main.js after Waypoints
  		document.body.appendChild(LOAD.bindings.mainjs);
  		LOAD.bindings.mainjs.onload = function(){
  	    // Load page-specific modules
  	    APP.portfolioModule.init();
  	  }
  	}
  	LOAD.bindings.waypointsjs.onloadDone = false;
  	LOAD.bindings.waypointsjs.onload = function() {
  		LOAD.bindings.waypointsjs.onloadDone = true;
  		init();
  	};
		LOAD.bindings.waypointsjs.onreadystatechange = function() {
			if ("loaded" === LOAD.bindings.waypointsjs.readyState && ! LOAD.bindings.waypointsjs.onloadDone ) {
				LOAD.bindings.waypointsjs.onloadDone = true;
				init();
			}
		};
		document.body.appendChild(LOAD.bindings.waypointsjs);
	</script>


